.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  width: 1052px;
  height: 105px;
  margin-top: 92px;
  margin-right: auto;
  margin-left: auto;
}

.header__menu {
  justify-self: start;
  margin-left: 26px;
}

.header__links-list {
  display: flex;
  gap: 31px;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  list-style: circle;
}

.header__links-list-item a {
  display: block;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  letter-spacing: 0;
  list-style: none;
}

.header__logo {
  display: block;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.adress {
  justify-self: end;
  width: 240.521px;
  height: 98px;
  margin-right: 26px;
}

.adress a {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
  letter-spacing: 0.18px;
  text-decoration: none;
}

.adress div {
  height: 1px;
  margin-top: -2px;
  margin-bottom: 1px;
  background: #000;
}

.adress__phone-bottom-line {
  width: 132px;
}

.adress__mail-bottom-line {
  width: 130px;
}

.header__address {
  width: 237px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.cover {
  height: 757px;
  /* TODO: Попробовать не задавать явно */
  margin-top: 96px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 355px;
  margin: auto;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  align-self: flex-start;
  margin-top: 15px;
}

.aligned-text_center {
  align-self: center;
  margin-top: 13px;
  margin-right: 60px;
}

.aligned-text_right {
  align-self: flex-end;
  margin-top: 5px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-no {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 51px;
  margin: 0 auto 51px;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  /* 127.273% */
  text-transform: uppercase;
}

.cover__description-text_first-part {
  margin-left: 28px;
  word-spacing: 20px;
}

.cover__description-text_letter-spacing-extended {
  margin-left: 23px;
  letter-spacing: 24.2px;
}

.cover__description-text_last-part {
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  flex-shrink: 0;
  width: 1052px;
  height: 692px;
  margin: 178px auto 0;
}

.lots__heading {
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-left: 39px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 23px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-shrink: 0;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  width: 334px;
  height: 563px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.card__title {
  flex-shrink: 0;
  align-self: center;
  width: 254px;
  height: 82px;
  margin-top: 51px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  flex-shrink: 0;
  align-self: center;
  width: 254px;
  margin-bottom: 48px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  /* 24px */
}

.card__text_ellipses {
  letter-spacing: 2.6px;
}

.lots__look-more-link {
  border-bottom: 1px solid black;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 40px;
  position: absolute;
}